<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="SPRL.TestPXI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="4544464CDEAAB541" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.1.20.415" newVersion="8.1.20.415"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.35.190" newVersion="13.0.35.190"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common.Native" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.35.190" newVersion="13.0.35.190"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.NiLmClientDLL" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.35.190" newVersion="13.0.35.190"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.UI.Styles3D" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.35.242" newVersion="13.0.35.242"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.UI" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.35.242" newVersion="13.0.35.242"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.MStudioCLM" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.35.190" newVersion="13.0.35.190"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <SPRL.TestPXI.Properties.Settings>
   <setting name="ScriptDir" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="LogDir" serializeAs="String">
    <value/>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>732, 519</value>
   </setting>
   <setting name="SplitterDist" serializeAs="String">
    <value>202</value>
   </setting>
   <setting name="CIPMarker0" serializeAs="String">
    <value>238</value>
   </setting>
   <setting name="CIPMarker1" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="CIPMarker2" serializeAs="String">
    <value>77</value>
   </setting>
   <setting name="CIPMarker3" serializeAs="String">
    <value>239</value>
   </setting>
   <setting name="SourceIP0" serializeAs="String">
    <value>192</value>
   </setting>
   <setting name="SourceIP1" serializeAs="String">
    <value>168</value>
   </setting>
   <setting name="SourceIP2" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SourceIP3" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SourcePort" serializeAs="String">
    <value>5009</value>
   </setting>
   <setting name="DestIP0" serializeAs="String">
    <value>192</value>
   </setting>
   <setting name="DestIP1" serializeAs="String">
    <value>168</value>
   </setting>
   <setting name="DestIP2" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DestIP3" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="DestPort" serializeAs="String">
    <value>5009</value>
   </setting>
  </SPRL.TestPXI.Properties.Settings>
 </userSettings>
</configuration>
